/.idea/
/out/
/.idea/sonarlint/issuestore/index.pb
/proyectos-clases/clases/poo/maven/target/*
/proyectos-clases/clases/poo/maven/.idea/*
/proyectos-clases/clases/poo/maven/tienda/target/
/proyectos-clases/clases/poo/maven/tienda/.idea/

proyectos-clases/clases/kiss-project/.idea/consolestorage/
proyectos-clases/clases/kiss-project/.idea/*
proyectos-clases/clases/kiss-project/target/*
proyectos-clases/clases/poo/maven/tienda/.idea/*
proyectos-clases/clases/poo/maven/tienda/.idea/*
proyectos-clases/clases/kiss-project/.idea/*
proyectos-clases/clases/kiss-project/.idea/*